*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html, body{
    height: 100%;
}
/**************************************fim zeramento da pagin**********/
.container{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;    
}
.clear{
    clear: both;
    
}
header{
    background-color: rgb(180, 180, 180);
    padding: 10px 2% 30px 2%;  
}
.logo-1{
    float: left;
    width: 150px;
    height: 60px;
    background-image: url('../images/logo1.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    /*background-color: purple;*/
}
.logo-2{
    float: right;
    width: 160px;
    height: 44px;
    background-image: url('../images/logo2.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    /*background-color: green;*/
}
section.cover-form{
    width: 100%;
    padding: 0 2%;
}
.bg{
    height: 500px;
    background-position: center;
    background-size: cover;
    background-image: url('../images/bg-form.jpg');
}

.form-container{       /*formulario*/
    float: right;
    margin-right: 40px;
    width: 400px;
    height: 110%;
    position: relative;
    z-index: 2;      /*deve ficar em 2 para ficar por cima da section*/
    top: -5%;
    box-shadow: 1px 2px 1px 2px rgb(180, 180, 180);
    background-color: #ffffff;
}
.form-container h2{
    font-weight: normal;
    padding: 20px 15px;
    color: black;
    background-color: rgb(234, 234, 234);
    font-size: 18px;
}
.form-container form{
    margin-top: 8px;
    padding: 15px;

}
.form-container form p{
    font-size: 13px;
    color:#525252 ;
}
.form-wrapper:not(:first-child){/*após o primeiro input aplica uma margede 40px*/
    margin-top: 40px;
}
.form-wrapper:last-child{
    margin-top: 20px;
}

.form-container form input[type=text]{
    width: 100%;
    border: 1px solid #ccc;
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
}
.form-container form input[type=submit]{
  background-color: #033c50;
  text-transform: uppercase;
  color: white;
  width: 100%;
  font-size: 25px;
  height: 50px;
  cursor: pointer;
  border: 0vmax;
}

section.chamada{
 z-index: 1;  /*z index deve ficar em um para ficar por baixo do formulario*/
 /*padding: 50px 0;*/
 width: 100%;
 position: relative;
 top: -50px;
 text-align: center;
 display: inline-block;

}
section.chamada .container{
    padding: 50px 0;
    background-color: #073e52;
}
section.chamada h2{
width: 96%;
max-width: 700px;
display: inline-block;
color: white;
font-size: 20px;
font-weight: normal; 
}
.mosaico{   
    position: relative;
    top: -50px;
}  

.flex-mosaico{
    display: flex;
}

.item-1-mosaico{
    background-position: center;
    background-size: cover;
    width: 60%;
}
.item-2-mosaico{
    background-color: #4683AB;
    padding: 60px 40px;
    width: 40%;
}

.item-2-mosaico p{
    color: white;
}

footer{
    text-align: center;
    padding: 15px 0;
    position: relative;
    top: -50px;
    background-color:  rgb(180, 180, 180); 
}

footer p{
    margin-top: 2px;

}
.img-rodape{ 
    width: 100px;
    height: 30px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
   }
@media screen and (max-width: 768px) { 
     .flex-mosaico{
         display: block;
     }  

    .item-1-mosaico{
        /*height: 400px;*/
        padding-top: 80%;
        width: 100%;
    }
    .item-2-mosaico{
        text-align: justify;
        width: 100%;
    }
}
@media screen and (max-width:510px) {
    header{
        text-align: center;
    }    
    .logo-1,.logo-2{
        display: inline-block;
        float: none;
    }
}